@import 'src/assets/material.scss';

h1, h2 {
    text-align: center;

}

h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    font-weight: 500;
}

.app_title {
    margin-left: auto;
    margin-right: auto;
}

.goals {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
    text-align: center;
    // color: black;

    .current-miles, .percentage, .goal {
        align-items: center;
        flex-basis: 40%;
        margin: auto;
        background-color: #6F4930;
        padding: 10px 10px 10px 10px;
        border-radius: 12px;
        width: 250px;
        vertical-align: center;

        .big-font {
            font-size: 2.8em;
            font-weight: bold;
            color: #cfc460;
        }

        .goal-p {
            line-height: 1.2;
            margin-bottom: 0;
        }
    }

    .current-miles, .percentage, .goal, .latest_hike::after {
        background:
            linear-gradient(
                rgba(111, 73, 48, 0.9),
                rgba(111, 73, 48, 0.9)
            );

    }

    .current-miles, .percentage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: .8;
        height: 320px;

        p {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: left;
            font-size: .9em;     
        }

        .mat-icon {
            font-size: 48px;
            padding-right: 20px;
            padding-bottom: 25px;
            color: rgb(211, 223, 211);
        }
    }
}

.latest_hike {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;

    .date {
        font-weight: bold;
        font-size: 1.2em;
    }
}

.main_options {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 30px;
    justify-content: space-evenly;
}

a {
    color: white;
}

.go-to-log, .official-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
        margin-top: 10px;
    }
    
}