<div class="app_title">
    <h1>The 900 Miler Challenge</h1>
    <h2>- Hike all of the trails of the Great Smoky Mountains -</h2>
    <!-- <h4>*There are currently just over 800 miles of official trails</h4> -->
</div>
<div class="goals">
    <div class="current-miles">
        <div class="miles-icon">
            <mat-icon class="material-icons">directions_walk</mat-icon>
        </div>
        <p><span class="big-font">{{ uniqueMiles }}</span>
            <br>
            miles hiked so far
        </p>
        <canvas id="lineChart">{{ lineChart }}</canvas>
    </div>
    <div class="percentage">
        <h3>Goal accomplished so far:</h3>
        <circle-progress [options]="ngCircleOptions"></circle-progress>
        <p>Your last hike was on: <span class="date"> {{ mostRecentHike | date }}</span></p>
    </div>
    <div class="goal">
        <p class="goal-p">Your current goal: <br>
            <span class="big-font">{{ goal }} miles</span></p>
        <button mat-mini-fab><mat-icon>edit</mat-icon></button>   
    </div>
</div>
<div class="main_options">
        <div class="go-to-log">
            <a routerLink="/log"><button mat-icon-button mat-mini-fab color="primary"><mat-icon class="material-icons">edit</mat-icon></button></a>
            <p>View & add a new hike</p>  
        </div>
        <div class="official-list">
            <a routerLink="/trails"><button mat-icon-button mat-mini-fab color="primary"><mat-icon class="material-icons">library_books</mat-icon></button></a>
            <p>View the official trail list</p> 
        </div>
        
</div>