<div class="app_title">
    <h1>The 900 Miler Challenge</h1>
    <h2>Hike all of the trails of the Great Smoky Mountains</h2>
</div>
<div class="goals">
    <div class="current-miles">
        <p><span class="miles-font">{{ goalMiles }}</span>
            <br>
            miles hiked so far
        </p>
    </div>
    <div class="percentage">
        <p>{{ currentProgress }}% <br>
            of goal accomplished so far
        </p>
    </div>
    <div class="goal">
        <p>Your current goal: 800 miles</p>
        <p>Change your goal</p>
    </div>
</div>
<div class="latest_hike">
    <p>Your last hike was on: {{ mostRecentHike | date }}</p>
</div>
<div class="main_options">
        <p>
            <a routerLink="/log">View your hiking log and add a new hike</a>
        </p>
        <p>
            <a routerLink="/trails">View the official trail list</a>
        </p>
</div>