<div class="app_title">
    <h1>The 900 Miler Challenge</h1>
    <h2>Hike all of the trails of the Great Smoky Mountains</h2>
</div>
<div class="goals">
    <div class="current-miles">
        <div class="miles-icon">
            <mat-icon class="material-icons">directions_walk</mat-icon>
        </div>
        <p><span class="big-font">{{ goalMiles }}</span>
            <br>
            miles hiked so far
        </p>
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <div class="percentage">
        <div class="progress-icon">
            <mat-icon class="in-progress-icon">timelapse</mat-icon>
        </div>
        <p><span class="big-font">{{ currentProgress }}% </span><br>
            of goal accomplished so far
        </p>
    </div>
    <div class="goal">
        <p class="goal-p">Your current goal: <br>
            <span class="big-font">800 miles</span></p>
        <mat-icon>edit</mat-icon>   
    </div>
</div>
<div class="latest_hike">
    <p>Your last hike was on: <span class="date"> {{ mostRecentHike | date }}</span></p>
</div>
<div class="main_options">
        <div class="go-to-log">
            <a routerLink="/log"><button mat-icon-button mat-mini-fab color="primary"><mat-icon class="material-icons">edit</mat-icon></button></a>
            <p>View & add a new hike</p>  
        </div>
        <div class="official-list">
            <a routerLink="/trails"><button mat-icon-button mat-mini-fab color="primary"><mat-icon class="material-icons">library_books</mat-icon></button></a>
            <p>View the official trail list</p> 
        </div>
        
</div>