
h1, h2 {
    text-align: center;

}

h1 {
    margin-bottom: 0;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    font-weight: 500;
}

.app_title {
    margin-left: auto;
    margin-right: auto;
}

.goals {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    gap: 20px;
    text-align: center;
    // color: black;

    .current-miles, .percentage, .goal {
        align-items: center;
        margin: auto;
        background-color: rgb(88, 88, 88);
        padding: 10px 10px 10px 10px;
        border-radius: 12px;
        width: 250px;
        vertical-align: center;

        .miles-font {
            font-size: 2.5em;
            font-weight: bold;
        }
    }
}

.latest_hike {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_options {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 30px;
    justify-content: space-evenly;
}