.editedHike {

  .form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 12px;
    color: white;

    h2 {
      font-size: 1.6em;

      span {
          font-weight: bold;
      }
    }
  }

  .hike-form,
  .date-comments-form {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .name-form-field {
    width: 300px;
  }

  .miles-form-field {
    width: 110px;
  }

  .sections-form-field {
    width: 330px;
  }

  .date-form-field {
    width: 170px;
  }

  .comments-form-field {
    width: 350px;
    max-height: 80px;

    .mat-form-field-flex {
      max-height: 80px;
    }
  }

  .round-trip {
    margin-bottom: 15px;
  }

}

.newHike {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  .form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 12px;
    color: white;
    background-color: rgba(36, 36, 36, 0.4);

    h2 {
      text-align: center;
      font-size: 1.6em;

      span {
          font-weight: bold;
      }
    }
  }


  .hike-form,
  .date-comments-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 35px;
  }

  .name-form-field {
    width: 300px;
  }

  .miles-form-field {
    width: 150px;
  }

  .sections-form-field {
    width: 330px;
  }

  .date-form-field {
    width: 170px;
  }

  .comments-form-field {
    width: 350px;
    max-height: 80px;

    .mat-form-field-flex {
      max-height: 80px;
    }
  }

  .round-trip {
    margin-bottom: 15px;
  }

}