.editedHike {

  .form {
    display: flex;
    position: absolute;
    top: 25px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 12px;
    color: white;
    width: 90%;

    h2 {
      font-size: 1.6em;

      span {
          font-weight: bold;
      }
    }
  }

  .hike-form,
  .date-form, .comments-form {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .miles-form {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .name-form-field {
    max-width: 98%;
  }

  .miles-form-field {
    width: 110px;
  }

  .sections-form-field {
    width: 98%;
    max-width: 98%;
  }

  .date-form-field {
    width: 170px;
  }

  .comments-form-field {
    max-width: 98%;

    .mat-form-field-flex {
      max-height: 80px;
    }
  }

  .round-trip {
    margin-bottom: 15px;
  }

  .submit_btn {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: center;
  }

}

.newHike {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  .form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 12px;
    color: white;
    background-color: rgba(36, 36, 36, 0.4);

    h2 {
      text-align: center;
      font-size: 1.6em;

      span {
          font-weight: bold;
      }
    }
  }

  .submit_btn {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: center;
  }


  .hike-form, .comments-form, .date-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 35px;
  }

  .miles-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 35px;
  }



  .name-form-field {
    width: 400px;
  }

  .miles-form-field {
    width: 150px;
  }

  .sections-form-field {
    width: 400px;
  }

  .date-form-field {
    width: 170px;
  }

  .comments-form-field {
    width: 350px;
    max-height: 80px;

    .mat-form-field-flex {
      max-height: 80px;
    }
  }

  .round-trip {
    margin-bottom: 15px;
  }

}

.sections-select-text {
  color: white;
}

::ng-deep .map-form-field-appearance-outline, mat-form-field-outline {
  background-color: white !important;
}