<div class="header">
  <h1 class="hikingLogTitle">Hiking Log</h1>
  <button *ngIf="!addUser" mat-mini-fab color="primary" (click)="openForm()">
    <span class="material-icons">add</span>
  </button>
  <button *ngIf="addUser" mat-mini-fab color="secondary" (click)="openForm()">
    <span color="" class="material-icons">clear</span>
  </button>
</div>
<div *ngIf="addUser" class="hidden-form">
  <app-hike-form (saveTrailForm)="saveTrailForm($event)"></app-hike-form>
</div>

<div class="log_container">
  <div class="above-card-header" *ngIf="userHikes && !addUser">
    You've hiked <span class="miles">{{ userUniqueMilesHiked }}</span> of miles of unique trails in the Smokies <br>
    <p *ngIf="!userHikes">You currently do not have any hikes.</p>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let userHike of userHikes; index as i;" class="mat-elevation-z3 hike-card">
      <div *ngIf="enableEditIndex !== i; else elseBlock">
        <div class="thumbnail">
          <div class="date">
            <div class="month">
              {{ userHike.date | date: "LLL"}}
            </div>
            <div class="day">
              {{ userHike.date | date: "dd"}}
            </div>
            <div class="year">
              {{ userHike.date | date: "yyyy"}}
            </div>
          </div>
        </div>

        <img src="{{userHike.photoUrl}}" alt="Trail" class="card-trail-pic">
        <mat-card-title> {{ userHike.trailName }}</mat-card-title>
        <mat-card-subtitle class="total-miles">{{ userHike.totalMiles }} miles towards goal hiked</mat-card-subtitle>
        <mat-card-subtitle class="round-trip" *ngIf="userHike.roundTrip">Round Trip -- {{ userHike.totalMiles * 2}} total miles</mat-card-subtitle>
        <mat-card-content>{{ userHike.comments }}</mat-card-content>
        <div *ngIf="userHike?.sections?.length > 1" class="sections-section">
          <h4>Sections hiked:</h4>
          <ul *ngFor="let section of userHike.sections">
            <li>{{ section.sectionName }} -- {{ section.sectionLength }} miles</li>
          </ul>
        </div>
        <mat-card-actions class="card-footer">
          <div class="card-buttons">
            <button mat-mini-fab mat-icon-button color="primary" (click)="editHike(userHike, $event, i)"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab mat-icon-button color="warn" (click)="deleteHike(userHike)"><mat-icon>delete</mat-icon></button> 
          </div>
        </mat-card-actions>
      </div>
      <ng-template #elseBlock class="edit-form-container">
        <button mat-icon-button class="cancel-btn" *ngIf="enableEdit && enableEditIndex === i" (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button> 
        <app-hike-form class="edit-form" *ngIf="enableEdit && enableEditIndex === i" (saveTrailForm)="saveTrailForm($event)" [userHike]="userHike"></app-hike-form>
      </ng-template>
    </mat-card>
  </div>
</div>
<app-scroll-to-top></app-scroll-to-top>
