@import 'src/assets/material.scss';

body {
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  justify-content: center;
  // align-items: baseline;
  gap: 15px;

  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2.2em;
  }

  .cancel-btn {
    background-color: transparent;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  flex-basis: 40%;
}

.above-card-header {
  margin-bottom: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .miles {
    font-weight: bold;
    font-size: 1.1em;
  }
  .miles::before {
    content: '';
    position: absolute;
    margin-bottom: 14px;
    border: 0;
    height: 1px;
    top: 19.7%;

    width: 120px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(226, 226, 226, 0.75),
      rgba(204, 204, 204, 0)
    );
  }
}

.log_container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  display: flex;
  position: absolute;
  background-color: #6f4930 !important;
  flex-basis: 30%;
  margin-bottom: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 620px;
  

  ul {
    list-style: circle;

    li {
      line-height: 1;
    }
  }

  .thumbnail {
    .date {
      position: absolute;
      padding-top: 5px;
      top: 20px;
      right: 20px;
      z-index: 1;
      background-color: #1b5e20;
      border-radius: 100%;
      width: 72px;
      height: 65px;
      // padding: 12.5px 0;
      color: white;
      font-weight: 700;
      text-align: center;

      .day {
        font-size: 18px;
      }
      .month {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  .card-trail-pic {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .mat-card-title,
  .mat-card-subtitle,
  .mat-card-content {
    padding-left: 15px;
    padding-right: 10px;
  }

  .mat-card-title {
    font-weight: bold;
    padding-top: 15px;
  }

  .mat-card-subtitle {
    padding-top: 5px;
    font-weight: 400;
    font-size: 1.1em;
    color: #e0f3e1;
  }

  .mat-card-content {
    margin-top: 10px;
  }

  .total-miles {
    margin-bottom: 0px;
  }

  .round-trip {
    font-size: .9em;
  }

  .mat-card-actions {
    position: absolute;
    margin-top: auto;
    padding-left: 15px;
    bottom: 0px;

    button {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .sections-section {
    padding-left: 15px;
    padding-right: 10px;
    height: 190px;
    overflow-y: auto;
  }

  .edit-form-container {
    display: flex;
    margin: auto;
  }

  .cancel-btn {
    margin-left: 90%;
    margin-right: auto;
    margin-top: -5px !important;
  }
}

.edit-form {
  margin-bottom: auto;
  padding-left: 10px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(84, 90, 84, 0.1); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: "#1b5e20"; 
}

@media only screen and (max-width: 1100px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    .hike-card {
      flex-basis: 370px;
      min-width: 300px;
    }
  }
}

