<div class="header">
  <h2 class="hikingLogTitle">Hiking Log</h2>
  <button mat-mini-fab color="primary" (click)="openForm()">
    <span *ngIf="!addUser" class="material-icons">add</span><span *ngIf="addUser" color="warn" class="material-icons">cancel</span>
  </button>
</div>
<div *ngIf="addUser" class="hidden-form">
  <form [formGroup]="trailForm" (ngSubmit)="saveTrail(trailForm)" class="form">
    <h3>Add a new hike:</h3>
    <div class="hike-form">
      <mat-form-field appearance="fill" class="name-form-field">
        <mat-label>Trail or Section Name</mat-label>
        <input formControlName="trailName" required matInput [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let trail of filteredTrails | async" [value]="trail.name">
            {{ trail.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary" class="miles-form-field">
        <mat-label>Total Miles Hiked</mat-label>
        <input type="number" formControlName="totalMiles" required matInput [value]="trailObjSelectedMiles" />
      </mat-form-field>

      <mat-form-field *ngIf="sectionNameArray" appearance="fill" class="sections-form-field">
        <mat-label>Sections</mat-label>
        <mat-select formControlName="sections" multiple>
          <mat-select-trigger>
            {{ selectedSection[0]?.sectionName }}
            <span *ngIf="selectedSection.length > 1" class="example-additional-selection">
              (+{{ selectedSection.length - 1 }}
              {{ selectedSection.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let section of sectionNameArray" [value]="section">{{ section.sectionName }} - {{
            section.sectionLength }} miles</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="date-comments-form">
      <mat-form-field appearance="fill" color="primary" class="date-form-field">
        <mat-label>Hike Date</mat-label>
        <input matInput [matDatepicker]="hikeDate" formControlName="date" (click)="$event.stopPropagation()" />
        <mat-datepicker-toggle matSuffix [for]="hikeDate"></mat-datepicker-toggle>
        <mat-datepicker #hikeDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary" class="comments-form-field">
        <mat-label>Comments</mat-label>
        <input formControlName="comments" matInput />
      </mat-form-field>
      <button mat-icon-button mat-mini-fab matTooltip="Save" type="submit" [disabled]="!trailForm.valid" class="submit_btn">
        <mat-icon class="save_icon">save</mat-icon>
      </button>
    </div>
  </form>
</div>

<div class="log_container">
  <div class="above-card-header" *ngIf="userHikes && !addUser">
    You've hiked <span class="miles">{{ userUniqueMilesHiked }}</span> of miles in the Smokies
    <p *ngIf="!userHikes">You currently do not have any hikes.</p>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let userHike of userHikes; index as i;" class="mat-elevation-z3 hike-card">
      <div *ngIf="enableEditIndex !== i; else elseBlock">
        <div class="thumbnail">
          <div class="date">
            <div class="month">
              {{ userHike.date | date: "LLL"}}
            </div>
            <div class="day">
              {{ userHike.date | date: "dd"}}
            </div>
            <div class="year">
              {{ userHike.date | date: "yyyy"}}
            </div>
          </div>
        </div>

        <img src="../../../assets/img/shutterstock_226674508.png" alt="Trail" class="card-trail-pic">
        <mat-card-title> {{ userHike.trailName }}</mat-card-title>
        <mat-card-subtitle>{{ userHike.totalMiles }} miles hiked</mat-card-subtitle>
        <mat-card-content>{{ userHike.comments }}</mat-card-content>
        <div *ngIf="userHike?.sections?.length > 1" class="sections-section">
          <h4>Sections hiked:</h4>
          <ul *ngFor="let section of userHike.sections">
            <li>{{ section.sectionName }} -- {{ section.sectionLength }} miles</li>
          </ul>
        </div>
        <mat-card-actions class="card-footer">
          <div class="card-buttons">
            <button mat-mini-fab mat-icon-button color="primary" (click)="editHike(userHike, $event, i)"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab mat-icon-button color="warn" (click)="deleteHike(userHike)"><mat-icon>delete</mat-icon></button> 
          </div>
        </mat-card-actions>
      </div>
      <ng-template #elseBlock class="edit-form-container">
        <button mat-icon-button class="cancel-btn" *ngIf="enableEdit && enableEditIndex === i" (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button> 
        <app-hike-form class="edit-form" *ngIf="enableEdit && enableEditIndex === i" (saveTrailForm)="saveTrailForm($event)" [userHike]="userHike"></app-hike-form>
      </ng-template>
    </mat-card>
  </div>
</div>