.header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  
  h2 {
    text-align: center;
  }

  .cancel-btn {
    background-color: transparent;
  }
}

.hidden-form {
  h3 {
    text-align: center;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
}

.hike-form,
.date-comments-form {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  gap: 40px;
}

.date-comments-form {
  align-items: center;
}

.name-form-field {
  width: 300px;
}

.miles-form-field {
  width: 110px;
}

.sections-form-field {
  width: 330px;
}

.date-form-field {
  width: 170px;
}

.comments-form-field {
  width: 450px;
}

.log_container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card {
  background-color: rgb(197, 196, 196);
  border-radius: 10px;
  flex-basis: 80%;
  margin-bottom: 15px;

  ul {
    list-style: circle;

    li {
      line-height: .5;
    }
  }
}

.card-header {
  margin-bottom: 0px;
  text-align: center;

  .miles {
    font-weight: 600;;
  }
}
