.mat-expansion-panel-header-title {
    width: 200px;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel {
    margin-bottom: 10px;
}

.trailList_container {
    width: 600px;
    margin: auto;
}

h3 {
    text-align: center;
}

.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
 
 mat-panel-description {
     color: rgb(27, 27, 27);
 }

 mat-card {
     height: fit-content;
     padding-bottom: 5px;
 }

 .trail-card {
     display: flex;
     justify-content: space-between;
     margin-bottom: 8px;
     padding-left: 25px;
     padding-right: 25px;
 }

 .card-title {
     display: flex;
     flex-direction: row-reverse;
     gap: 10px;
     align-items: end;
 }

 .alreadyHiked {
     color: rgb(177, 176, 176);
     text-decoration: line-through;
 }

 .alreadyHiked::after {
    font-family: "Material Icons";
    content: "check_box";
    text-decoration: none !important;
    color: green;
 }

 .completed {
     text-decoration: none;
     color: green;
 }