.mat-expansion-panel-header-title {
    width: 200px;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel {
    margin-bottom: 10px;
}

.trailList_container {
    width: 600px;
    margin: auto;
}

.trail-list-title {
    text-align: center;
    

    h1 {
        margin-bottom: 0;
        font-weight: bold;
    }

    h2 {
        font-weight: 200;
        font-size: 20px;
    }
}

.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
 
 mat-panel-description {
     color: rgb(27, 27, 27);
 }

 mat-card {
     height: fit-content;
     padding-bottom: 5px;
 }

 .trail-card {
     display: flex;
     justify-content: space-between;
     margin-bottom: 8px;
     padding-left: 25px;
     padding-right: 25px;

     p {
         display: flex;
     }
 }

//  .card-title {
//      display: flex;
//      flex-direction: row-reverse;
//      gap: 10px;
//     //  align-items: end;
//      align-items: center;
//  }

 .alreadyHiked {
     color: rgb(177, 176, 176);
    //  text-decoration: line-through;
 }

 .alreadyHikedMiles {
    color: rgb(177, 176, 176);
    // text-decoration: line-through;
 }

 .sections {
     display: flex;
 }

 .alreadyHiked::after {
    font-family: "Material Icons";
    content: "check_box";
    text-decoration: none !important;
    color: green;
    padding-left: 5px;
    font-size: 20px;
 }

 .completed {
     text-decoration: none;
     color: green;
 }