<div class="trail-list-title">
  <h1>Official Trails</h1>
  <h2>in the Great Smoky Mountains</h2>
</div>

<div class="trailList_container">
  <div class="trail" *ngFor="let trail of trails">
    <div class="no-section-trails" *ngIf="trail.sections.length < 1; else trailSections">
      <mat-card class="mat-elevation-z2 trail-card">
        <div class="card-title">
          <p [ngClass]="{ alreadyHiked: hikedNames.includes(trail.name) }">
            {{ trail.name }}
          </p>
        </div>
        <p>
          {{ trail.length }} miles
        </p>
      </mat-card>
    </div>
    <ng-template #trailSections>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{alreadyHiked: compareTrailsWithSections(trail)}">
            {{ trail.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ trail.length }} miles
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="trail.sections.length > 0; else elseBlock">
          <p *ngFor="let section of trail.sections" class="sections" [ngClass]="{
              alreadyHiked: hikedSectionNames.includes(section.sectionName)
            }">
            {{ section.sectionName }} -- {{ section.sectionLength }} miles
          </p>
        </div>
        <ng-template #elseBlock>
          <p>There are no additional segments for this trail.</p>
        </ng-template>
      </mat-expansion-panel>
    </ng-template>
  </div>
</div>